Repository i11v/fastmail-mcp: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format

lint:
  run: pnpm lint

format:
  run: pnpm fmt:check

Add implementation plan for email deletion and archiving
  PLAN_EMAIL_DELETION_ARCHIVING.md
Due: none

Add email_move tool for moving/deleting/archiving emails
  PLAN_EMAIL_DELETION_ARCHIVING.md
  src/tools.ts
Due: lint, format

Add email_move tool for delete/archive/move (#17)
  src/tools.ts
Due: lint, format

Document email_move tool in README
  README.md
Due: none

Add email_move tool to landing page
  public/landing.html
Due: none

Document email_move tool in README (#18)
  README.md
  public/landing.html
Due: none

Replace email_move with email_set: support move + flags in one tool
  src/tools.ts
Due: lint, format

Fix email_set schema not rendering in MCP inspector
  src/tools.ts
Due: lint, format

Document Zod .refine() gotcha in CLAUDE.md
  CLAUDE.md
Due: none

Update docs for email_set, add doc sync rule to CLAUDE.md
  CLAUDE.md
  README.md
  public/landing.html
Due: none

Expand email_move to email_set with flag management support (#19)
  CLAUDE.md
  README.md
  public/landing.html
  src/tools.ts
Due: lint, format

refactor: Replace Effect boilerplate with createJMAPClient wrapper
  src/tools.ts
Due: lint, format

chore: Use effect-jmap preview version with createJMAPClient wrapper
  package.json
  pnpm-lock.yaml
Due: format

feat: Restore Redis session caching in getClient()
  src/tools.ts
Due: lint, format

fix: Use createJMAPClientWithConfig for session caching compatibility
  CLAUDE.md
  src/tools.ts
Due: lint, format

feat: Upgrade to effect-jmap 0.9.0 with session caching support
  package.json
  pnpm-lock.yaml
  src/tools.ts
Due: lint, format

Simplify JMAP client usage by removing Effect layer abstraction (#20)
  CLAUDE.md
  package.json
  pnpm-lock.yaml
  src/tools.ts
Due: lint, format

chore: Enable Entire
  .claude/settings.json
  .entire/.gitignore
  .entire/settings.json
  .gitignore
Due: format

chore: Enable Entire (#21)
  .claude/settings.json
  .entire/.gitignore
  .entire/settings.json
  .gitignore
Due: format

refactor: Use effect-jmap Identity service instead of low-level batch calls
  package.json
  pnpm-lock.yaml
  src/tools.ts
Due: lint, format

chore: bump effect-jmap from preview to 0.10.0
  package.json
  pnpm-lock.yaml
Due: format

Refactor email identity handling to use client wrapper methods (#22)
  package.json
  pnpm-lock.yaml
  src/tools.ts
Due: lint, format

Replace 5 MCP tools with single execute JMAP proxy
  README.md
  package.json
  pnpm-lock.yaml
  public/landing.html
  src/__tests__/execute.test.ts
  src/tools.ts
  tsconfig.json
Due: lint, format

Exempt SearchSnippet/get from properties requirement
  src/__tests__/execute.test.ts
  src/tools.ts
Due: lint, format

Checkpoint: a0997d09aa3b
  a0/997d09aa3b/0/content_hash.txt
  a0/997d09aa3b/0/context.md
  a0/997d09aa3b/0/full.jsonl
  a0/997d09aa3b/0/metadata.json
  a0/997d09aa3b/0/prompt.txt
  a0/997d09aa3b/metadata.json
Due: format

Finalize transcript for Checkpoint: a0997d09aa3b
  a0/997d09aa3b/0/content_hash.txt
  a0/997d09aa3b/0/full.jsonl
Due: none

Refactor to single execute tool with JMAP validation proxy (#23)
  README.md
  package.json
  pnpm-lock.yaml
  public/landing.html
  src/__tests__/execute.test.ts
  src/tools.ts
  tsconfig.json
Due: lint, format

chore: update MCP SDK and related deps
  package.json
  pnpm-lock.yaml
Due: format

Refactor: extract runJMAP() from execute()
  src/tools.ts
Due: lint, format

chore: update MCP SDK and related deps (#24)
  package.json
  pnpm-lock.yaml
Due: format

Refactor: extract runJMAP() from execute() (#25)
  src/tools.ts
Due: lint, format

Add JMAP agent skill for the execute tool
  jmap-skill/SKILL.md
  jmap-skill/core/error-handling.md
  jmap-skill/core/request-format.md
  jmap-skill/email/querying.md
  jmap-skill/email/reading.md
  jmap-skill/email/search.md
  jmap-skill/email/writing.md
  jmap-skill/mailbox/overview.md
  jmap-skill/patterns/move-archive.md
  jmap-skill/patterns/reply.md
  jmap-skill/patterns/unread-inbox.md
  jmap-skill/sending/workflow.md
  jmap-skill/thread/overview.md
Due: none

Checkpoint: 0ca44796ca3e
  0c/a44796ca3e/0/content_hash.txt
  0c/a44796ca3e/0/context.md
  0c/a44796ca3e/0/full.jsonl
  0c/a44796ca3e/0/metadata.json
  0c/a44796ca3e/0/prompt.txt
  0c/a44796ca3e/metadata.json
Due: format

Add MCP elicitation for destructive operation confirmation
  src/__tests__/execute.test.ts
  src/tools.ts
Due: lint, format

Review fix: count EmailSubmission/set creates instead of hardcoding 1
  src/__tests__/execute.test.ts
  src/tools.ts
Due: lint, format

Fallback for clients without elicitation support (e.g. Claude Desktop)
  src/tools.ts
Due: lint, format

Fix lint warning: use catch without binding for unused elicit error
  src/tools.ts
Due: lint, format

Refactor destructive action confirmation to use SDK elicitation (#27)
  src/__tests__/execute.test.ts
  src/tools.ts
Due: lint, format

Fix elicitation fallback to allow email sending on non-elicitation clients
  src/tools.ts
Due: lint, format

Path conditions:
  lint: any of: *.{ts,tsx,js}
  format: any of: *.{ts,tsx,js,json}
