Repository i11v/fastmail-mcp: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format

lint:
  run: pnpm lint

format:
  run: pnpm fmt:check

chore: Ignore project mcp.json
  .gitignore
Due: none

Add two-step confirmation fallback for non-elicitation clients
  src/tools.ts
Due: lint, format

chore: Remove Entire CLI integration
  .claude/settings.json
  .entire/.gitignore
  .entire/settings.json
Due: format

chore: Add pnpm-workspace.yaml for build script allowlist
  pnpm-workspace.yaml
Due: none

chore: Remove Entire CLI integration (#28)
  .claude/settings.json
  .entire/.gitignore
  .entire/settings.json
  .gitignore
  pnpm-workspace.yaml
Due: format

Block destructive ops when elicitation is unavailable
  src/tools.ts
Due: lint, format

Let elicitation errors propagate instead of catching them
  src/tools.ts
Due: lint, format

Add explicit confirmation flag for destructive operations (#29)
  src/tools.ts
Due: lint, format

Add JMAP agent skill for the execute tool (#26)
  jmap-skill/SKILL.md
  jmap-skill/core/error-handling.md
  jmap-skill/core/request-format.md
  jmap-skill/email/querying.md
  jmap-skill/email/reading.md
  jmap-skill/email/search.md
  jmap-skill/email/writing.md
  jmap-skill/mailbox/overview.md
  jmap-skill/patterns/move-archive.md
  jmap-skill/patterns/reply.md
  jmap-skill/patterns/unread-inbox.md
  jmap-skill/sending/workflow.md
  jmap-skill/thread/overview.md
Due: none

Rename jmap-skill to fastmail-skill and add SKILL.md frontmatter
  fastmail-skill/SKILL.md
  fastmail-skill/core/error-handling.md
  fastmail-skill/core/request-format.md
  fastmail-skill/email/querying.md
  fastmail-skill/email/reading.md
  fastmail-skill/email/search.md
  fastmail-skill/email/writing.md
  fastmail-skill/mailbox/overview.md
  fastmail-skill/patterns/move-archive.md
  fastmail-skill/patterns/reply.md
  fastmail-skill/patterns/unread-inbox.md
  fastmail-skill/sending/workflow.md
  fastmail-skill/thread/overview.md
Due: none

Rename jmap-skill to fastmail-skill and add SKILL.md frontmatter (#30)
  fastmail-skill/SKILL.md
  fastmail-skill/core/error-handling.md
  fastmail-skill/core/request-format.md
  fastmail-skill/email/querying.md
  fastmail-skill/email/reading.md
  fastmail-skill/email/search.md
  fastmail-skill/email/writing.md
  fastmail-skill/mailbox/overview.md
  fastmail-skill/patterns/move-archive.md
  fastmail-skill/patterns/reply.md
  fastmail-skill/patterns/unread-inbox.md
  fastmail-skill/sending/workflow.md
  fastmail-skill/thread/overview.md
Due: none

Add MCP Apps for email composing and reading
  CLAUDE.md
  README.md
  package.json
  pnpm-lock.yaml
  public/compose.html
  public/landing.html
  public/read-email.html
  src/apps.ts
  src/format.ts
  src/index.ts
  src/tools.ts
Due: lint, format

Migrate from Vercel to Cloudflare Workers
  CLAUDE.md
  package.json
  pnpm-lock.yaml
  public/index.html
  src/cache.ts
  src/index.ts
  src/redis.ts
  src/tools.ts
  tsconfig.json
  wrangler.toml
Due: lint, format

Fix MCP Apps by using official ext-apps SDK in views
  apps/compose.html
  apps/compose.ts
  apps/read-email.html
  apps/read-email.ts
  apps/tsconfig.json
  package.json
  pnpm-lock.yaml
  public/compose.html
  public/read-email.html
  src/apps.ts
  vite.apps.config.ts
Due: lint, format

Return brief summary instead of raw JSON from read_email tool
  src/apps.ts
Due: lint, format

Add send_email and save_draft tools with shared helpers
  README.md
  apps/compose.ts
  apps/read-email.html
  apps/read-email.ts
  fastmail-skill/SKILL.md
  public/landing.html
  src/__tests__/__snapshots__/format.test.ts.snap
  src/__tests__/format.test.ts
  src/__tests__/tools.test.ts
  src/format.ts
  src/tools.ts
Due: lint, format

Add MCP Apps for email composing and reading (#31)
  CLAUDE.md
  README.md
  apps/compose.html
  apps/compose.ts
  apps/read-email.html
  apps/read-email.ts
  apps/tsconfig.json
  fastmail-skill/SKILL.md
  package.json
  pnpm-lock.yaml
  public/compose.html
  public/landing.html
  public/read-email.html
  src/__tests__/__snapshots__/format.test.ts.snap
  src/__tests__/format.test.ts
  src/__tests__/tools.test.ts
  src/apps.ts
  src/format.ts
  src/index.ts
  src/tools.ts
  vite.apps.config.ts
Due: lint, format

Add OpenTelemetry tracing with Honeycomb backend
  package.json
  pnpm-lock.yaml
  src/index.ts
  src/tools.ts
  src/tracing.ts
Due: lint, format

Fix OTel tracing: BatchSpanProcessor, forceFlush, semconv, tool spans
  src/tools.ts
  src/tracing.ts
Due: lint, format

Fix review findings: safety gate, iframe sandbox, BCC, validation, dedup
  apps/compose.ts
  apps/read-email.ts
  src/__tests__/tools.test.ts
  src/apps.ts
  src/format.ts
  src/tools.ts
Due: lint, format

Handle OTel export errors gracefully to prevent server crashes
  src/tracing.ts
Due: lint, format

Make Honeycomb server URL configurable via HONEYCOMB_SERVER env var
  src/tracing.ts
Due: lint, format

Add .env.example and document environment variables in README
  .env.example
  README.md
Due: none

Fix user.id tracing by passing span explicitly to getSession
  src/tools.ts
Due: lint, format

Fix OTel context propagation: parent tool spans to HTTP root span
  docs/decisions/001-otel-context-propagation.md
  src/tools.ts
  src/tracing.ts
  src/utils.ts
Due: lint, format

Simplify OTel tracing: tool handlers own their spans
  docs/decisions/001-otel-context-propagation.md
  src/index.ts
  src/tools.ts
  src/tracing.ts
Due: lint, format

Add OpenTelemetry tracing with Honeycomb (#32)
  .env.example
  README.md
  docs/decisions/001-otel-context-propagation.md
  package.json
  pnpm-lock.yaml
  src/index.ts
  src/tools.ts
  src/tracing.ts
  src/utils.ts
Due: lint, format

feat: add Wrangler config and HTML type declaration
  src/html.d.ts
  wrangler.jsonc
Due: lint, format

refactor: replace NodeSDK with BasicTracerProvider for CF compat
  src/tracing.ts
Due: lint, format

refactor: remove Redis session caching, always flush traces
  src/redis.ts
  src/tools.ts
Due: lint, format

refactor: use bundler HTML imports, remove Node.js fs/path usage
  src/apps.ts
  src/index.ts
Due: lint, format

chore: output built app HTML to public/ for Wrangler static assets
  vite.apps.config.ts
Due: lint, format

chore: simplify tsconfig for Wrangler bundler mode
  tsconfig.json
Due: format

chore: update deps for Cloudflare Workers (drop Node/Vercel, add Wrangler)
  package.json
  pnpm-lock.yaml
Due: format

chore: update gitignore for CF, generate worker types, remove .nvmrc
  .gitignore
  .nvmrc
  tsconfig.json
  worker-configuration.d.ts
Due: lint, format

docs: update for Cloudflare Workers deployment
  CLAUDE.md
  README.md
  public/landing.html
Due: none

fix: rename deploy script to deploy:prod, set actual workers.dev URL
  CLAUDE.md
  README.md
  package.json
  public/landing.html
Due: format

fix: update CI workflow for Cloudflare (remove .nvmrc ref, replace build with wrangler dry-run)
  .github/workflows/ci.yml
Due: none

Path conditions:
  lint: any of: *.{ts,tsx,js}
  format: any of: *.{ts,tsx,js,json}
